# Per-project `repo upload` hook settings.
# https://chromium.googlesource.com/chromiumos/repohooks/

[Hook Scripts]
# Make cros format do nothing, add two custom checks for
# black and isort.
cros format = echo
black = bash -c 'for file in ${PRESUBMIT_FILES}; do if [[ $file == *.py ]]; then black --check $file; fi done'
isort = bash -c 'for file in ${PRESUBMIT_FILES}; do if [[ $file == *.py ]]; then isort -c $file; fi done'

[Hook Overrides]

